# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test (pytest)
.pytest_cache/

# Pdoc3 documentation
docs

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.venv
venv/

# Logs
*.log

# Keys
*.gpg
*.key

# Development files
/test.py

# pyinstaller
/*.spec
/build
/dist