#LoadingDialog QProgressBar {
	margin: 0px;
	padding: 0px;
	border: 2px solid #464646;
    border-radius: 5px;
}

#LoadingDialog QProgressBar::chunk {
	background: qlineargradient(spread:pad, x1:0.0, y1:0.5, x2:1, y2:0.5, stop:0 #ffffff, stop: 0.5 #6ca6fd, stop:1 #ffffff);
}

#LoadingDialog QLabel {
	font-weight: bold;
	color: #464646;
	background: white;
}

#LoadingDialog > #Container {
	background: #ffffff;
	border: 2px solid #3b3b3b;
    border-radius: 5px;
	min-width: 250px;
}